<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
    <div class="leftNav">
    <h2>portfolio.</h2>
    </div>
    <div class="rightNav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    </div>
    </div>
    <div class="main">
    <div class="mleft">
        <h6>HELLO</h6>
        <h1> I,M Bappa </h1>
        <p> <br> maxime rem tempora labore nostrum eos nulla <br>fuga illo quia nam dolores quam velit inventore soluta dolor. <br> Voluptas consectetur quod fuga deleniti ex accusamus illo necessitatibus,<br> commodi consequatur veniam animi nulla corporis.</p>
        <div class="info">
            <h3>WEB-DEVLOPER | DIGITAL-MARKETER | ENTREPRENEUR</h3>
        </div>
    </div>
    <div class="mright">
        <img src="https://static.vecteezy.com/system/resources/previews/029/711/176/non_2x/developer-with-ai-generated-free-png.png" id="img2" alt="image">
    </div>
    </div>
</body>
</html>